// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.btn {
  a {
    color: white;
  }
}

section.CTA {
  height: 650px;
  background-image: url(asset-path("bg1.jpg"));
  background-repeat: no-repeat;
  background-size: 100% auto;
}

div.section {
  padding-top: 200px;
  color: white;
}
