<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Heroku on Rails</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <span class="nav-link"><%= link_to "Accueil",   '/' %></span>
        </li>
        <li class="nav-item">
          <span class="nav-link"><%= link_to "Index des gossips", '/gossips' %></span>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <span class="btn btn-primary"><%= link_to "Nouveau gossip", '/gossips/new' %></span>
        </li>
      </ul>
    </div>
</nav>
